<div class="row">
    <div class="col-11 offset-1">

        <h1>Editar Situation</h1>
    </div>
    <div class="col-12">

        <%= render 'form', situation: @situation %>

    </div>
    <div class="col-1 offset-1">

        <%= link_to 'Voltar', situations_path,class: "btn btn-info" %>
    </div>
    <div class="col-1  ">

        <%= link_to 'Mostar', @situation,class:"btn btn-secondary" %>
    </div>

</div>
