<div class="">

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>

                <th>Options</th>
            </tr>
        </thead>
        <tbody >
             <% @categories.each do |category| %>
            <tr >
                <td> <%=category.id %> </td>
                <td>  <%= category.name %> </td>

                <td> update delete  </td>
            </tr>
            <% end %>
        </tbody>
    </table>



</div>
