
<br>
<br>
<br>
<br><div class="row">
    <div class="col-11 offset-1">

        <h1>Nova Order Meal</h1>
    </div>
    <div class="col-12">

        <%= render 'form', order_meal: @order_meal %>


    </div>

    <div class="col-2 offset-1 check">

        <%= link_to 'Voltar', order_meals_path,class: "btn btn-info" %>
    </div>

</div>
<br>
<br>
<br>
<br>
