<footer class="">
  <div class="row">
      <div class="col-3 offset-1 direitos">
          <h6>DinnerDash | Todos os direitos reservados</h6>
      </div>
      <div class="offset-5 col-3 desenvolvido">
          <h6>Desenvolvido por GO&VB</h6>
      </div>
  </div>
</footer>
