
<div class="row">
    <div class="col-11 offset-1">

        <h1>Editar Refeição</h1>
    </div>
    <div class="col-12">


        <%= render 'form', meal: @meal %>

    </div>
    <div class="col-2 offset-1">

        <%= link_to 'Voltar', meals_path,class: "btn btn-info" %>
    </div>
    <div class="col-2 offset-1">
        <%= link_to 'Mostrar Mais', @meal,class: "btn btn-secondary"%>
    </div>
</div>
