<div class="row">
    <div class="col-10 offset-1">
        <h1>Editar Refeição</h1>
    </div>


    <%= render 'form', meal: @meal %>
        



    <div class="col-1">
        <br>

        <%= link_to 'Voltar', meals_path,class: "btn btn-info" %>

    </div>

</div>
