
<div class="row">
    <div class="offset-1">


    </div>

</div>

<%= render 'meals', meal: @meal %>

<br>


<div class="row">
    <div class="offset-1">

        <%= link_to 'Nova Refeição', new_meal_path, class: "btn btn-success" %>

    </div>

</div>
<br>
<br>
<br>
