.login-image{
    height:98vh;
    background-image: image-url("login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.conta{
    font-size: 18px;
    color: #333333;
}
