.dinnerdash-nav{
    color: #fff;
    font-size: 28px;
}

.dinnerdash-login-cadastro{
    color: #333333;
    font-size: 48px;
}

.font-white{
    color: #fff;
}

.monte-prato{
    color: #fff;
    font-size: 72px;
}

.escolha{
    color: #fff;
    font-size: 28px;
}

.padding-top{
    padding-top: 10%;
}

.padding-left{
    padding-left: 5%;
}
